.alert-overlay-container {
  position: fixed;
  z-index: 1001;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: display .5s;
}

.alert-overlay-background {
  opacity: 1;
  background: rgba(0, 0, 0, 0.32);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  pointer-events: auto;
  transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.alert-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.alert-box {
  position: static;
  z-index: 1001;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  min-width: 200px;
  max-width: 400px;
  overflow-wrap: break-word;
  pointer-events: auto;
}

.alert-box-header {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: .8rem;
}

.alert-box-body {
  padding: 1rem 0;
}

.alert-box-actions {
  display: flex;
  flex-direction: row-reverse;
}
