.dropdown-group > .dropdown-menu > hr, .dropdown-group > .dropdown-menu-right > hr {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-group > .dropdown-menu, .dropdown-group > .dropdown-menu-right {
  display: none;
  position: absolute;
  z-index: 10;
  list-style-type: none;
  padding: .5rem 0;
  background-color: #fff;
  margin: 11px 0 0 0;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.2);
}

.dropdown-group > .dropdown-menu > .dropdorw-item, .dropdown-group > .dropdown-menu-right > .dropdorw-item {
  padding: .5rem 1rem;
  cursor: pointer;
}

.dropdown-group > .dropdown-menu > .dropdorw-item:hover, .dropdown-group > .dropdown-menu-right > .dropdorw-item:hover {
  background-color: #e9ecef;
}

.dropdown-group {
  position: relative;
}

.dropdown-group > .dropdown-menu::after {
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  content: ' ';
  left: 5px;
  top: -19px;
}

.dropdown-group > .dropdown-menu::before {
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #b9b9b9 transparent;
  position: absolute;
  content: ' ';
  left: 5px;
  top: -20px;
}

.dropdown-group > .dropdown-menu-right {
  right: 0;
}

.dropdown-group > .dropdown-menu-right::after {
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  content: ' ';
  right: 5px;
  top: -19px;
}

.dropdown-group > .dropdown-menu-right::before {
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #b9b9b9 transparent;
  position: absolute;
  content: ' ';
  right: 5px;
  top: -20px;
}
