.btn-raised, .btn-raised-primary, .btn-raised-accent, .btn-raised-warn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.btn-raised:active, .btn-raised-primary:active, .btn-raised-accent:active, .btn-raised-warn:active {
  box-shadow: none !important;
}

.btn-outline:disabled, .btn-outline-primary:disabled, .btn-outline-accent:disabled, .btn-outline-warn:disabled, .btn-raised:disabled, .btn-raised-primary:disabled, .btn-raised-accent:disabled, .btn-raised-warn:disabled, .btn-flat:disabled, .btn-flat-primary:disabled, .btn-flat-accent:disabled, .btn-flat-warn:disabled, .btn:disabled, .btn-primary:disabled, .btn-accent:disabled, .btn-warn:disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  box-shadow: none !important;
  cursor: default !important;
}

.btn-outline:hover:disabled, .btn-outline-primary:hover:disabled, .btn-outline-accent:hover:disabled, .btn-outline-warn:hover:disabled, .btn-raised:hover:disabled, .btn-raised-primary:hover:disabled, .btn-raised-accent:hover:disabled, .btn-raised-warn:hover:disabled, .btn-flat:hover:disabled, .btn-flat-primary:hover:disabled, .btn-flat-accent:hover:disabled, .btn-flat-warn:hover:disabled, .btn:hover:disabled, .btn-primary:hover:disabled, .btn-accent:hover:disabled, .btn-warn:hover:disabled {
  background: none !important;
}

.btn-outline:disabled, .btn-outline-primary:disabled, .btn-outline-accent:disabled, .btn-outline-warn:disabled {
  border: 0.5px solid rgba(0, 0, 0, 0.26) !important;
}

.btn-raised:disabled, .btn-raised-primary:disabled, .btn-raised-accent:disabled, .btn-raised-warn:disabled, .btn-flat:disabled, .btn-flat-primary:disabled, .btn-flat-accent:disabled, .btn-flat-warn:disabled {
  background-color: rgba(0, 0, 0, 0.26) !important;
}

.btn-raised:hover:disabled, .btn-raised-primary:hover:disabled, .btn-raised-accent:hover:disabled, .btn-raised-warn:hover:disabled, .btn-flat:hover:disabled, .btn-flat-primary:hover:disabled, .btn-flat-accent:hover:disabled, .btn-flat-warn:hover:disabled {
  background: rgba(0, 0, 0, 0.26) !important;
}

.btn-raised:hover:disabled, .btn-raised-primary:hover:disabled, .btn-raised-accent:hover:disabled, .btn-raised-warn:hover:disabled {
  background: rgba(0, 0, 0, 0.26) !important;
}

.btn, .btn-outline, .btn-flat, .btn-raised, .btn-primary, .btn-outline-primary, .btn-flat-primary, .btn-raised-primary, .btn-accent, .btn-outline-accent, .btn-flat-accent, .btn-raised-accent, .btn-warn, .btn-outline-warn, .btn-flat-warn, .btn-raised-warn {
  display: inline-block;
  min-width: 36px;
  line-height: 36px;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 5px;
  border: none;
  background: none;
  text-decoration: none;
  transition: background-color 0.2s;
  /* Firefox 4 */
  -moz-transition: background-color 0.2s;
  /* Safari and Chrome */
  -webkit-transition: background-color 0.2s;
  /* Opera */
  -o-transition: background-color 0.2s;
}

.btn:hover, .btn-outline:hover, .btn-flat:hover, .btn-raised:hover, .btn-primary:hover, .btn-outline-primary:hover, .btn-flat-primary:hover, .btn-raised-primary:hover, .btn-accent:hover, .btn-outline-accent:hover, .btn-flat-accent:hover, .btn-raised-accent:hover, .btn-warn:hover, .btn-outline-warn:hover, .btn-flat-warn:hover, .btn-raised-warn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn:active, .btn-outline:active, .btn-flat:active, .btn-raised:active, .btn-primary:active, .btn-outline-primary:active, .btn-flat-primary:active, .btn-raised-primary:active, .btn-accent:active, .btn-outline-accent:active, .btn-flat-accent:active, .btn-raised-accent:active, .btn-warn:active, .btn-outline-warn:active, .btn-flat-warn:active, .btn-raised-warn:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn:focus, .btn-outline:focus, .btn-flat:focus, .btn-raised:focus, .btn-primary:focus, .btn-outline-primary:focus, .btn-flat-primary:focus, .btn-raised-primary:focus, .btn-accent:focus, .btn-outline-accent:focus, .btn-flat-accent:focus, .btn-raised-accent:focus, .btn-warn:focus, .btn-outline-warn:focus, .btn-flat-warn:focus, .btn-raised-warn:focus {
  outline: none;
}

.btn-outline {
  border: 0.5px solid #c5c5c5;
}

.btn-flat {
  background-color: #fff !important;
}

.btn-flat:active {
  background-color: #d8d8d8 !important;
}

.btn-raised {
  background-color: #fff !important;
}

.btn-raised:active {
  background-color: #d8d8d8 !important;
}

.btn-primary, .btn-outline-primary, .btn-flat-primary, .btn-raised-primary {
  color: #3e5cdc;
}

.btn-primary:hover, .btn-outline-primary:hover, .btn-flat-primary:hover, .btn-raised-primary:hover {
  background-color: rgba(62, 92, 220, 0.1);
}

.btn-primary:active, .btn-outline-primary:active, .btn-flat-primary:active, .btn-raised-primary:active {
  background-color: rgba(62, 92, 220, 0.25);
}

.btn-outline-primary {
  border: 0.5px solid #3e5cdc;
}

.btn-flat-primary, .btn-raised-primary {
  color: #fff;
  background-color: #3e5cdc;
}

.btn-flat-primary:hover, .btn-raised-primary:hover {
  background-color: #3e5cdc;
}

.btn-flat-primary:active, .btn-raised-primary:active {
  background-color: rgba(62, 92, 220, 0.75);
}

.btn-accent, .btn-outline-accent, .btn-flat-accent, .btn-raised-accent {
  color: #ff4081;
}

.btn-accent:hover, .btn-outline-accent:hover, .btn-flat-accent:hover, .btn-raised-accent:hover {
  background-color: rgba(255, 64, 129, 0.1);
}

.btn-accent:active, .btn-outline-accent:active, .btn-flat-accent:active, .btn-raised-accent:active {
  background-color: rgba(255, 64, 129, 0.25);
}

.btn-outline-accent {
  border: 0.5px solid #ff4081;
}

.btn-flat-accent, .btn-raised-accent {
  color: #fff;
  background-color: #ff4081;
}

.btn-flat-accent:hover, .btn-raised-accent:hover {
  background-color: #ff4081;
}

.btn-flat-accent:active, .btn-raised-accent:active {
  background-color: rgba(255, 64, 129, 0.75);
}

.btn-warn, .btn-outline-warn, .btn-flat-warn, .btn-raised-warn {
  color: #f44336;
}

.btn-warn:hover, .btn-outline-warn:hover, .btn-flat-warn:hover, .btn-raised-warn:hover {
  background-color: rgba(244, 67, 54, 0.1);
}

.btn-warn:active, .btn-outline-warn:active, .btn-flat-warn:active, .btn-raised-warn:active {
  background-color: rgba(244, 67, 54, 0.25);
}

.btn-outline-warn {
  border: 0.5px solid #f44336;
}

.btn-flat-warn, .btn-raised-warn {
  color: #fff;
  background-color: #f44336;
}

.btn-flat-warn:hover, .btn-raised-warn:hover {
  background-color: #f44336;
}

.btn-flat-warn:active, .btn-raised-warn:active {
  background-color: rgba(244, 67, 54, 0.75);
}

.dropdown-group > .dropdown-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: .8rem 0;
  background-color: #fff;
  margin: 0;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}

.dropdown-group > .dropdown-menu > hr {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-group > .dropdown-menu > .dropdorw-item {
  padding: .3rem 1rem;
}

.dropdown-group > .dropdown-menu > .dropdorw-item:hover {
  background-color: #e9ecef;
}

.alert-overlay-container {
  position: fixed;
  z-index: 1001;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: display .5s;
}

.alert-overlay-background {
  opacity: 1;
  background: rgba(0, 0, 0, 0.32);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  pointer-events: auto;
  transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.alert-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.alert-box {
  position: static;
  z-index: 1001;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  min-width: 200px;
  max-width: 400px;
  overflow-wrap: break-word;
  pointer-events: auto;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.alert-box-header {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: .8rem;
}

.alert-box-body {
  padding: 1rem 0;
}

.alert-box-actions {
  display: flex;
  flex-direction: row-reverse;
}

html {
  font-size: 14px;
}

.ml1 {
  margin-left: .33rem !important;
}

.ml2 {
  margin-left: .66rem !important;
}

.ml3 {
  margin-left: 1rem !important;
}
