@import ./variables
    
.dropdown-group
    &>.dropdown
        
    &>.dropdown-menu
        display: none
        position: absolute
        list-style-type: none
        padding: 0
        background-color: $basic-color