@import ./variables
    
.nav
    height: 64px
    display: flex
    background-color: $primary-color
    box-sizing: border-box
    padding: 0 16px
    width: 100%
    flex-direction: row
    align-items: center
    white-space: nowrap
    &>.title
        font-size: 1.3rem
        font-weight: 600
        color: #fff
    &>.actions
        flex-grow: 1
        display: flex
        justify-content: flex-end